################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/DockPanel/v15
/DockExample/bin
/DockIt/obj
/DockIt/bin
/DockExample/obj
