################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/DockPanel/v15
/DockExample/bin
/DockIt/obj
/DockIt/bin
/DockExample/obj
/.vs
/BB74.Controls/.vs/BB74.Controls/v16
/BB74.Controls/bin
/BB74.Controls/DockPanel/bin
/BB74.Controls/obj
/BB74.Controls/PropertyGrid/bin
/BB74.Controls/DockPanel/obj
/BB74.Controls/PropertyGrid/obj
